/* .exercisesDetail {
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 0.9em;
    font-family: sans-serif;
    min-width: 400px;
}

.exercisesDetail td {
    padding: 12px 15px;
}

.exercisesDetail tr {
    border-bottom: 2px solid #080808;
} */